@model IEnumerable<Lucasweb.Models.Pin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PinId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PinId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PinId })
        </td>
    </tr>
}

</table>
