@model Lucasweb.Areas.Manage.Models.UserRoleData
@{
    ViewBag.Title = "Edit";
}

@Html.DisplayFor(model => model.UserName,"H2")
<h3>Edit @Model.UserName's Roles</h3>
<hr/>
@Html.ActionLink("Add", "Add",new { UserId=Model.Id})
<table class="table table-striped">
    <tr>
        <th>

        </th>
        <th>
            Role
        </th>
        <th>
            Remove
        </th>
    </tr>
    @foreach(var Role in Model.Roles)
    {
        <tr>
            <td>
                <span class="glyphicon glyphicon-certificate text-dull-yellow"></span>
            </td>
            <td>
                @Html.DisplayFor(role => Role.Name)
            </td>
            <td>
                @Html.ActionLink("Remove","Remove",new { User=Model.UserName , RoleId=Role.Id}) 
            </td>
        </tr>
    }

</table>
