@model IEnumerable<Lucasweb.Models.Sound>

@{
    ViewBag.Title = "Soundweb";
}


<script src="~/scripts/Soundweb.js">
</script>
<div class="jumbotron Mstrip text-center">
    <h2>Hello, and Welcome to the Soundweb</h2>
    <p>This is a super-awesome, dynamically-generated, sound-sharing website of awesomeness.  Click anywhere in the darkened area around a sound to hear it, and click the link (the title) to see details.</p>
    <small>If clicking does nothing, or if you see an eternal time sign, you may need to check your internet connetion.  Got that?  Try reloading the page.  Still no?  Well, crud.</small>
    <h4 class="text-danger">Warning:  THERE IS NO WAY TO PAUSE.  Spam click at your own risk.</h4>
</div>
<div class="B-DDD row">
    <div class="col-lg-2">
        @Html.ActionLink("Create New", "Create")
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("Boring List", "BoringIndex")
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center HB-CCC Ptop5px" onclick="PlayAudio('@item.Location.ToString()', '@item.SoundID.ToString()');">
            <span class="glyphicon glyphicon-play-circle Font40px C-337ab7" id="PlayButton-@item.SoundID.ToString()"></span>
            <a href="~/Soundweb/Details/@item.SoundID.ToString()">
                <p class="text-center">@item.Name.ToString()</p>
            </a>
        </div>



    }
</div>
